.header {
  grid-area: h;
  background-color: #c49991;
}
.header img {
  padding-left: 20px;
  padding-top: 5px;
  width: 50px;
}

.itemBlock {
  float: right;
  padding: 15px;
}
.itemBlock a {
  color: white;
}
