.section {
  margin-left: 20px;
  color: darkmagenta;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.friend {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.barImage img {
  width: 50px;
}

.barName {
  color: white;
}
