.dialogs {
  display: grid;
  grid-template-columns: 3fr 9fr;
}

.dialogsItems {
  padding: 15px;
}

.dialogsItems a {
  text-decoration: none;
  color: white;
}

.dialogsItems .active a {
  color: gold;
}

.dialogsItems img {
  width: 40px;
  vertical-align: middle;
}

.messages {
  padding: 15px;
}

.evenItem {
  margin-left: 40px;
}
